body{
  /* Denne koden gjør at bakgrunnen vil bli en gradient, som vil si at den vil sakte overføre mellom valgte farger. Font family gjør at du bestemmer hvordan fonten teksten skal ha */
  background-image: linear-gradient(to bottom, rgb(51, 51, 51), rgb(36, 161, 211));
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    grid-auto-rows: auto;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row {
    display: flex;
    margin-top: 200px;
    background-color: #333;
    padding: 50px;
  }
  
  

.over{
    text-align: center;
    margin-top: 170px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, rgb(46, 107, 104), rgb(39, 105, 131));
    border: 1px solid;
    /* Color transparent gjør at du det ene elementet blir litt ussynlig, slik at elementer bak kan bli synlige.  */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.textkunn{
text-align: center;
margin-left: 10%;
border: 5px solid #000000; padding:40px; margin:30px;
background-color: rgb(46, 107, 104);
border-radius: 10%;
}

span{
  color: rgb(39, 105, 131);
  text-shadow: 2px 2px #212121;
}

  .container{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 200px;
    /* background-color: #212121; */
    padding-bottom: 1%;
    background-image: linear-gradient(to bottom, rgb(39, 105, 131), rgb(51, 51, 51));
    opacity: 0,8;
    
  }
  
  .row3{
    width:60%; 
    margin-left: auto;
    margin-right:auto;
    padding: 30px;
    margin-top:5px; 
    margin-bottom:5px; 
    
  }
  
  .col1{
    width:32%;
    /* Denne koden bestemmer hvordan ellementene skal være posisjonert vertikalt. */
    vertical-align: middle;
    margin:auto;
    padding: 30px;
  }

  .img-kunn{
    float: right;
    margin-right: 10%;
    margin-top: 60px;
  }

  .img-kunn:hover .hover{
    bottom: 10px;
  }